body {
    color: white;
    background-color: rgba(40, 40, 177, 0.479);
    text-align: center;
}

.card {
    border: 1px solid black;
    padding: 2rem;
    text-align: center;
    box-shadow: 5px 5px rgba(0,0,0,.15);
    width: 50%;
    margin: auto;
}

